




  body {
    background-image: url("Background.jpg");
    background-position: center top;
    background-size: 1920px 1080px;
    background-color: #000000;
    color: white;
    background-repeat: no-repeat;
    margin:auto;
    overflow-x: hidden;
    
  }
  
  
  
  #header {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 8px;
    display: flex;
    height: 30px;
    align-items: center;
    border-radius: 40px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    width: 90vw;
    margin: 20px auto;
    font-size: 90%;
  }
  
  nav {
    color: #fff;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
  }
  
  .p1 {
     
      position: relative;
    top: 300px;
    left: 5vw;
  }
  
  nav li {
    margin: 0 2vw;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px;border-radius: 3px; 
  }
  
  nav a:hover {
    color: #000000;
    background-color: #ffffff;
    
  }
  
  
  .arrow-icon {
    font-size: 13px; /* Adjust icon size */
    color: #000000; /* Adjust icon color */
  }
  
  .title {
    width: 350px;
    position: relative;
    top: 300px;
    left: 5vw;
    font-size: 40px;
    line-height: 0.95;
    font-family: raleway;
  }
  
  .description {
    width: 350px;
    position: relative;
    top: 300px;
    left: 5vw;
    font-size: 15px;
    line-height: 0.95;
    font-family: Roboto Light;
  }
  
  #header-logo {
    width: 30px; /* Adjust width as needed */
  }
  
  #plan {
    background-color: #deff02;
    color: black;
    padding: 5px 20px;
    border-radius: 20px;
    text-decoration: none;
      
  }
  #plan:hover{box-shadow: 0 0 15px 3px #ecff6e; /* Initial shadow */
    animation: glow 1s infinite alternate;}
  
  #nav-bar {
    margin-left: auto; /* Pushes the navbar items to the right */
  }
  
  
  .sidebox {
    background-color: rgba(0, 0, 0, 0.8);
    width: 50vw;
    height: auto;
    position: absolute;
    top: 60vh;
    transform: translateY(-50%);
    right: 0;
    border-radius: 20px;
    border: 1px solid rgb(82, 82, 82);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


  
  .image-container {
    width: calc(33.33% - 10px); /* Adjust for spacing */
    margin-bottom: 20px; /* Adjust for spacing */
    text-align: center;
   
    border-right: 1px solid rgba(255, 255, 255, 0.2); /
  }
  
  
  
  .image-container img {
    width: 50%;
    height:80%;
    border-radius: 5px;
    box-shadow: 0 0 20px #ffffff; /* Blur effect on hover */
    
  }
  
  .image-container img:hover {
    transform: scale(1.05); /* Increase size on hover */
    box-shadow: 0 0 20px #deff02; /* Blur effect on hover */
    transition: transform 0.3s ease, box-shadow 0.5s ease; /* Smooth transition */
  }
  
  .text {
    color: white;
    font-size: 70%;
    margin-top: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .fr{padding-top: 20px;}
  


.start{
  position:relative;
  display:flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  top:500px;
  
  text-align: center;

  }

  
  h1{font-family: Roboto Light;}
  
  .startp{width:400px;color:  grey;}
  
  iframe{margin: auto; padding: 50px;width:50vw;height: 28.125vw;border-radius: 60px;}
  
  .membership{position:relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    top:500px;
    text-align: center;}
  
  .box{
      background-color:rgba(158, 158, 158, 0.2);
      width:80vw;
      max-width: 750px;;
      height:350px;
      position:relative;
      border-radius: 20px;
      border:1px solid rgb(124, 124, 124);
      background: linear-gradient(to right, rgba(225, 224, 224, 0.112) 50%, rgba(255, 255, 255, 0.068) 50%);
  }
  
  
  .grid-container{display:flex;}
  
  .grid-item {
    display:flex;
    flex-direction: column;
    flex: 1; /* Each item takes up equal space */
    justify-content:left;
    text-align: left;
    padding:20px;
    font-size: 15px;color: rgb(205, 205, 205); ;
  }
  
  .m{background-color: #deff02;
    color: black;
    padding: 5px 20px;
    border-radius: 20px;
    text-decoration: none;}
  
  .grid-item h2{font-size: 25px;}
  .grid-item span{font-size: 10px;}
  .grid-item h1{color:white;font-size: 35px; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-weight: bolder;}
  .grid-item li{ font-size: medium; line-height: 150%;;}
  .grid-item li::marker {
    color: rgb(255, 28, 28); /* Change the color to blue */
    
  }
  
  h2{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
  
  
  .membership_pro{margin: 50px;  }
  
  a:hover{box-shadow: 0 0 15px 3px #ecff6e; /* Initial shadow */
    animation: glow 1s infinite alternate;}
  
  
  footer{position: relative; top:500px; text-align: right; padding: 10px 30px; font-family:cursive; color: rgb(207, 207, 207);}
  
  
  .fa-linkedin{ color:#deff02; font-size: larger;}
  
  #faqs{padding:30px 50px;color:black;background-color: #deff02;position:relative;top:500px;max-width: 800px;     margin:auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-content: center;}
  
  .faqs h1{position:relative;
    display:flex;
    flex-direction: column;
    align-items: center;
 
    text-align: center;}
  
  .faqs .question{position:relative;
      display:flex;
      flex-direction: column;
      text-align: left;font-weight: bolder;padding-top:10px}
  
    .faqs .answer{position:relative;
        display:flex;
        flex-direction: column;
        text-align: left; padding-bottom:10px; border-bottom: 1px solid black; }
  
        .faqs .faq:last-child .answer {
          border-bottom: none;
      }
  
  
  
  
  
  @media only screen and (max-width: 800px){
  
    
  
    nav ul {
      list-style-type: none;
      display: flex;
      font-size: 10px;
    }
  
    body{font-size: 12px;}
    .sidebox{
  
    width:80vw;
    height:auto;
    position:relative;
    left:00px;
  
    border-radius: 10px;
    margin: auto;
    float:none;
   
  
  }
  
  .text {
    
    font-size: 10px;
  }
  
  .title {
    width: 250px;
    position: relative;
    top: 100px;
    
    font-size: 30px;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-items: center;
    margin: auto;
  }
  
  .description {
    width: 350px;
    position: relative;
    top: 110px;
    left: 5vw;
    font-size: 12px;
    margin: auto;
    text-align: center;
  }
  
  .p1 {
     margin:auto;
    position: relative;
  top: 140px;
  left: 42vw;
  }
  
  iframe{margin: auto; padding: 50px;width:80vw;height: 45vw;}}
  
  
  
  